# Copy this file two times and name it "production.env" and "development.env"

# Server variables
PORT = 3000

# JWT
JWT_SECRET = put here a secret token

# MongoDB
MONGO_URI = mongodb://localhost/database_name

# AWS for SES (Simple email service) * Optional
AWS_ID = ...
AWS_SECRET = ...
AWS_REGION = ...
